html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    font-size: 4.5vmin;
}
#logo {
    width: 8em;
    height: auto;
}
.text-red {
    color: #ef420c;
}
img {
    width: 100%;
}
p {
    font-weight: 400;
    line-height: 2em;
}
h1 {
    text-transform: uppercase;
    font-weight: 700;
    display:inline-block;
}
.podsekcja {
    margin: auto;
}
.sekcja{
    box-sizing: border-box;
    padding: 7vmin 7vmin 0 7vmin;
    display: flex;
    flex-direction: column;
    width: 100vw;
    
}
#sekcja1 {
    background-color: #ef420c;
    color: white;
}
#sekcja2{
    background-color: #ebf1f4;
    color: #10305f;
}
#sekcja3{
    background-color: white;
    color: #10305f;
}
a{
    text-decoration: none;
    color: #10305f;
}
.button {
    display: inline-block;
    box-sizing: border-box;
    font-size: 75%;
    text-align: center;
    background: #ef420c;
    padding: 1em 2em;
    border-radius: 0.5em;
    color: white;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    width: 100%;
    margin: 1em 0;
}
.button.blue{
    color: white;
    background: #10305f;
}
.button.opaque-white {
    background: none;
    box-shadow:inset 0 0 0 0.15em white;
}
.button.opaque-blue {
    background: none;
    color: #10305f;
    box-shadow:inset 0 0 0 0.15em #10305f;
}
footer {
    font-size: 80%;
    color: #9dabbc;
    text-align: center;
    line-height: 2em;
    margin: 15vmin 0;
}
.round {
    border-radius: 5vmin;
}
.box {
    background-color: #ebf1f4;
    color: #10305f;
    box-sizing: border-box;
    padding: 0 7vmin;
}
.box a {
    font-weight: 500;
    line-height: normal;
}
.question-mark {
    display: inline-block;
    border-radius: 100%;
    background-color: #10305f;
    color:white;
    height: 2em;
    width: 2em;
    text-align: center;
    font-weight: 900;
}

/* DESKTOP ONLY STYLES */

@media screen and (min-aspect-ratio: 1/1) {
  body {
    font-size: 2vmin;
  }
  #sekcja1 {
      flex-direction: row;
  }
  #sekcja2 {
      flex-direction: row-reverse;
  }
}


/* MOBILE ONLY STYLES */

@media screen and (max-aspect-ratio: 1/1) {

}
