language: node_js
node_js:
- '14'
cache:
  directories:
  - node_modules
install:
- npm install
script:
- npm run build
deploy:
  - provider: pages
    repo: fajnie-ze-wiesz/fzw-landingpage
    fqdn: fajniezewiesz.pl
    skip-cleanup: true
    keep-history: false
    target-branch: gh-pages
    local-dir: dist/
    github-token: $GITHUB_TOKEN
    on:
      branch: master

notifications:
  email:
    on_success: never
    on_failure: always
