body,
html {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    var(--neutrals-200) 0 35%,
    white 30% 78%,
    var(--neutrals-200) 78% 100%
  );
}

.sekcja {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 0 calc((100vw - 1450px) / 2);
  box-sizing: border-box;
}

.column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.padding {
    padding: 4em;
}

.box {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  overflow-x: clip;
}

.greybg {
    background-color: var(--gray);
}

.round {
  border-radius: 2em;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.centerv {
    align-items: center;
    text-align: center;
}

#logo {
  height: 6em;
  width: auto;
}

.logoBox {
    width: 50%;
    margin-bottom: 3em;
}

#sekcja1 {
  flex-direction: column;
  justify-content: space-around;
  p {
    font-size: 130%;
  }
  .button {
      stroke: var(--blue);
    &:hover svg {
        stroke: white;
    }
  }
}

a {
  text-decoration: none;
  color: var(--blue);
}

footer {
  display: flex;
  justify-content: center;
  color: var(--gray-text);
  margin-bottom: 5em;

  div.footer-item {
    div {
      font-size: 80%;
      margin: 1em;
    }
    margin: 2em;
    text-align: center;
    line-height: 1em;
  }
}

#sekcja4 a {
  font-weight: 500;
  line-height: normal;
}
#sekcja4 {
  flex-direction: column;
}

ol {
  list-style: none;
  counter-reset: item;
  padding: 0em;
}

li {
  line-height: 1.5em;
  margin: 2em 0;
  counter-increment: item;
  padding-left: 4em;
}

li:before {
  font-size: 80%;
  font-weight: bold;
  content: counter(item);
  background: var(--red);
  border-radius: 100%;
  color: white;
  width: 1.9em;
  height: auto;
  margin-left: -4em;
  margin-right: 2em;
  text-align: center;
  display: inline-block;
}
