:root {
    --red: #ef420c;
    --blue: #10305f;
    --gray: #ebf1f4;
    --gray-text: #9dabbc;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
}

#logo {
    width: 4.5em;
    height: auto;
    margin-bottom: 1em;
}

.text-red {
    color: var(--red);
}

p {
    font-weight: 400;
    line-height: 1.5em;
    font-size: 80%;
}

h1 {
    font-size: 160%;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
}

.sekcja {
    box-sizing: border-box;
    padding: 7vmin;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.sekcja img {
    /* flex-basis: 115%; */
}

#sekcja1 {
    background-color: var(--red);
    color: white;
    padding-bottom: 0;
}

#sekcja2 {
    background-color: var(--gray);
    color: var(--blue);
    padding-bottom: 0;
}

#sekcja3 {
    background-color: white;
    color: var(--blue);
}

#sekcja4 {
    background-color: var(--gray);
    color: var(--blue);
}

a {
    text-decoration: none;
    color: var(--blue);
}

.buttonContainer {
  margin-bottom: 2em;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    font-size: 75%;
    text-align: center;
    background: var(--red);
    padding: 1em 2em;
    border-radius: 0.5em;
    color: white;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin: 1em 0;
}

.button.blue {
    color: white;
    background: var(--blue);
}

.button.opaque-white {
    background: none;
    box-shadow: inset 0 0 0 0.15em white;
}

.button.opaque-blue {
    background: none;
    color: var(--blue);
    box-shadow: inset 0 0 0 0.15em var(--blue);
}

footer {
    font-size: 80%;
    color: var(--gray-text);
    text-align: center;
    line-height: 3em;
    margin: 5vmin 0;
}

.round {
    border-radius: 5vmin;
}

#sekcja4 a {
    font-weight: 500;
    line-height: normal;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sprinkle-rect {
    border-radius: 20%;
    border-width: .25em;
    border-color: var(--red);
    border-style: solid;
    width: 1em;
    height: 1em;
    position: relative;
}

.sprinkle-circle {
    border-radius: 100%;
    border-width: .25em;
    border-color: white;
    border-style: solid;
    width: .8em;
    height: .8em;
    position: relative;
}

ol {
    list-style: none;
    counter-reset: item;
    padding: 0.4em;
}

li {
    font-size: 80%;
    line-height: 1.5em;
    margin: 2em 0;
    counter-increment: item;
    padding-left: 2em;
}

li:before {
    font-size: 80%;
    font-weight: bold;
    content: counter(item);
    background: var(--red);
    border-radius: 100%;
    color: white;
    width: 1.9em;
    height: auto;
    margin-left: -3em;
    margin-right: 1em;
    text-align: center;
    display: inline-block;
}

/* DESKTOP ONLY STYLES */
@media screen and (min-aspect-ratio: 1/1) {
    body {
        font-size: 2vmin;
    }

    #sekcja1 {
        flex-direction: row;
    }

    #sekcja2 {
        flex-direction: row-reverse;
    }

    #sekcja3 {
        flex-direction: row;
    }

    #sekcja2 img {
        /* flex-basis: 40%; */
        transform-origin: bottom;
        /* transform: scale(1.2); */
    }

    .button + .button {
        margin-left: 2em;
    }
    .sekcja img {
        margin: 0 1em;
        align-self: flex-end;
        width: 50%;
    }

    h1 {
        margin: 0;
    }

    .sekcja {
        padding: 5vmin 15vw;
    }

    .column {
      width: 50%;

    }

    .column .button {
        /* width: 50%; */
    }
}

/* MOBILE ONLY STYLES */
@media screen and (max-aspect-ratio: 1/1) {
    body {
        font-size: 5vmin;
    }

    #sekcja1 {
        min-height: 100vh;
    }

    #sekcja1 h1 {
        margin: 0;
    }

    img {
        width: 100%;
        height: auto;
    }

    .button {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
