:root {
    --red: #ef420c;
    --blue: #10305f;
    --gray: #ebf1f4;
    --gray-text: #9dabbc;
}
.stroke-red {
    stroke: var(--red);
}
.stroke-blue {
    stroke: var(--blue);
}
.stroke-white {
    stroke: white;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    overflow-x: hidden;
}

#logo {
    width: 4.5em;
    height: auto;
    margin-bottom: 1em;
}

.text-red {
    color: var(--red);
}

p {
    font-weight: 400;
    line-height: 1.75em;
    font-size: 80%;
}

strong {
  font-weight: 500;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    margin: 0;
    font-size: 210%;
    line-height: 1.1em;

}

.sekcja {
    box-sizing: border-box;
    padding: 10vmin;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.sekcja img {
    /* flex-basis: 115%; */
}

#sekcja1 {
    background-color: var(--red);
    color: white;
    padding-bottom: 0;
}

#sekcja2 {
    background-color: var(--gray);
    color: var(--blue);
    padding-bottom: 0;
}

#sekcja3 {
    background-color: white;
    color: var(--blue);
}

#sekcja4 {
    /* background-color: var(--gray); */
    color: var(--blue);
}

a {
    text-decoration: none;
    color: var(--blue);
}

.button-container {
  margin-bottom: 2em;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    font-size: 65%;
    text-align: center;
    padding: 1em 2em;
    border-radius: 0.5em;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin: 1em 0;
    min-width: 15em;
    -webkit-transition : -webkit-filter 500ms ease-out;
}


.button.red {
  box-shadow: 0 0.3em 1em #EF420C3D;
  color: white;
  background: var(--red);
}

.button.blue:hover, .button.opaque-blue:hover{
    filter: drop-shadow(16px 16px 0 var(--red));
}

.button.red:hover, .button.opaque-red:hover, .button.opaque-white:hover{
    filter: drop-shadow(16px 16px 0 var(--blue));
}

.button.blue {
    box-shadow: 0 0.3em 1em #10305F3D;
    color: white;
    background: var(--blue);
}

.button.opaque-white {
    background: var(--red);
    color: white;
    box-shadow: inset 0 0 0 0.15em white;
}

.button.opaque-blue {
    background: var(--gray);
    color: var(--blue);
    box-shadow: inset 0 0 0 0.15em var(--blue);
}

footer {
    font-size: 80%;
    color: var(--gray-text);
    text-align: center;
    line-height: 3em;
    margin: 5vmin 0;
}

.round {
    border-radius: 1em;
}

#sekcja4 a {
    font-weight: 500;
    line-height: normal;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

ol {
    list-style: none;
    counter-reset: item;
    padding: 0.4em;
}

li {
    font-size: 80%;
    line-height: 1.5em;
    margin: 2em 0;
    counter-increment: item;
    padding-left: 2em;
}

li:before {
    font-size: 80%;
    font-weight: bold;
    content: counter(item);
    background: var(--red);
    border-radius: 100%;
    color: white;
    width: 1.9em;
    height: auto;
    margin-left: -3em;
    margin-right: 1em;
    text-align: center;
    display: inline-block;
}

/* DESKTOP ONLY STYLES */
@media screen and (min-aspect-ratio: 1/1) {
    body {
        font-size: 2.1vmin;
    }

    #sekcja1 {
        flex-direction: row;
    }

    #sekcja2 {
        flex-direction: row-reverse;
    }

    #sekcja3 {
        flex-direction: row;
    }

    #sekcja2 img {
        /* flex-basis: 40%; */
        transform-origin: bottom;
        /* transform: scale(1.2); */
    }

    .button + .button {
        margin-left: 2em;
    }
    .sekcja > img {
        /* margin: 0 1em; */
        align-self: flex-end;
        width: 50%;
    }

    .sekcja {
        padding: 5vmin 15vw;
    }

    .column {
      width: 50%;
      padding: 1em;

    }

    .column .button {
        /* width: 50%; */
    }
    .contact-box {
        box-sizing: content-box;
        padding: 2em;
        background-color: var(--gray);
    }
}

/* MOBILE ONLY STYLES */
@media screen and (max-aspect-ratio: 1/1) {
    body {
        font-size: 4vmin;
    }

    #sekcja1 h1 {
        margin: 0;
    }

    #sekcja4 {
        background-color: var(--gray);
    }

    .sekcja img {
        width: 100%;
        height: auto;
    }

    .button {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
