:root {
  --red: #ef420c;
  --blue: #10305f;
  --gray: #ebf1f4;
  --gray-text: #9dabbc;
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    font-size: 4.5vmin;
}

#logo {
    width: 4.5em;
    height: auto;
    margin: .5em;
}

.text-red {
    color: var(--red);
}

img {
    width: 100%;
    height: auto;
}

p {
    font-weight: 400;
    line-height: 2em;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
}

.sekcja {
    box-sizing: border-box;
    padding: 7vmin;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
}

.sekcja img {
}

#sekcja1 > img {
    align-self: flex-end;
    width: auto;
}

#sekcja1 {
    background-color: var(--red);
    color: white;
    padding-bottom: 0;
}

#sekcja2 {
    background-color: var(--gray);
    color: var(--blue);
    padding-bottom: 0;
}

#sekcja3 {
    background-color: white;
    color: var(--blue);
}

#sekcja4 {
    background-color: var(--gray);
    color: var(--blue);
}

a {
    text-decoration: none;
    color: var(--blue);
}

.button {
    display: inline-block;
    box-sizing: border-box;
    font-size: 75%;
    text-align: center;
    background: var(--red);
    padding: 1em 2em;
    border-radius: 0.5em;
    color: white;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin: 1em 0;
}

.button.blue {
    color: white;
    background: var(--blue);
}

.button.opaque-white {
    background: none;
    box-shadow: inset 0 0 0 0.15em white;
}

.button.opaque-blue {
    background: none;
    color: var(--blue);
    box-shadow: inset 0 0 0 0.15em var(--blue);
}

footer {
    font-size: 80%;
    color: var(--gray-text);
    text-align: center;
    line-height: 2em;
    margin: 15vmin 0;
}

.round {
    border-radius: 5vmin;
}

#sekcja4 a {
    font-weight: 500;
    line-height: normal;
}
.column {
    display: flex;
    flex-direction: column;
}

.sprinkle-rect {
    border-radius: 20%;
    border-width: .25em;
    border-color: #ef420c;
    border-style: solid;
    width: 1em;
    height: 1em;
    position: relative;
}


/* DESKTOP ONLY STYLES */
@media screen and (min-aspect-ratio: 1/1) {
    body {
        font-size: 2vmin;
    }
    
    #sekcja1 {
        flex-direction: row;
    }

    #sekcja2 {
        flex-direction: row-reverse;
    }

    #sekcja3 {
        flex-direction: row;
    }

    .sekcja {
        padding: 7vmin 15vw 0 15vw;
    }
    .sekcja > img {
        width: 50%;
        flex-basis: auto;
        flex-grow: 1;
    }
    .sekcja .column {
        width: 50%;
        flex-basis: auto;
        flex-grow: 1;
    }
}

/* MOBILE ONLY STYLES */
@media screen and (max-aspect-ratio: 1/1) {
    #sekcja1 {
        height: 100vh;
    }
}
