:root {
  --red: #ef420c;
  --blue: #10305f;
  --gray: #ebf1f4;
  --gray-text: #9dabbc;

  --neutrals-700: #899aae;
  --accent-500: #ef420c;
  --white: #ffffff;
  --primary-900: #10305f;
  --neutrals-200: #f5fafc;
  --neutrals-100: #fafcfc;
  --neutrals-900: #617388;
  --neutrals-500: #dee6ea;
  --accent-900: #601a05;
  --primary-700: #23467a;
  --primary-800: #183764;
  --neutrals-600: #c2cbd6;
  --neutrals-400: #e4edf2;
  --accent-700: #be380f;
  --accent-800: #912403;
  --primary-300: #779dd6;
  --neutrals-300: #ebf1f4;
  --accent-300: #ff7a51;
  --primary-500: #4368a0;
  --primary-100: #d8e8ff;
  --accent-100: #feede7;
}

.stroke-red {
  stroke: var(--red);
}

.stroke-blue {
  stroke: var(--blue);
}

.stroke-white {
  stroke: white;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  overflow-x: hidden;
  background-image: linear-gradient(var(--neutrals-200) 0 35%, white 30% 82%, var(--neutrals-200) 82% 100%);
}

.text-red {
  color: var(--red);
}

p {
  font-weight: 400;
  line-height: 1.75em;
}

h1,
h2,
h3,
p {
  position: relative;
  z-index: 1;
}

strong {
  font-weight: 500;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  display: inline-block;
  line-height: 1.16em;
  font-weight: 700;
  margin: 0;
}

.sekcja {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#logo {
  align-self: center;
  transform: none;
  width: 6em;
  margin: 1em 0;
  height: auto;
}

#sekcja1 {
  text-align: center;
  color: var(--blue);
  justify-content: center;
  .column {
    align-items: center;
  }
  p {
    font-size: 130%;
  }
}

#sekcja2 {
  color: var(--blue);
  margin-bottom: 5vmin;
}

#sekcja3 {
  color: var(--blue);

  img {
    transform: none;
  }
}

#sekcja4 {
  color: var(--blue);
}

a {
  text-decoration: none;
  color: var(--blue);
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-size: 75%;
  text-align: center;
  padding: 1em 2em;
  border-radius: 0.5em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 1em;
  min-width: 15em;
  transition: background 200ms, color 200ms, box-shadow 200ms;
}

.button.red {
  box-shadow: 0 0.3em 1em #ef420c3d;
  color: white;
  background: var(--red);
}

.button.blue:hover,
.button.red:hover {
  box-shadow: none;
}

.button.opaque-blue:hover {
  background-color: var(--blue);
  color: white;
}

.button.opaque-white:hover {
  background-color: white;
  color: var(--red);
}

.button.blue {
  box-shadow: 0 0.3em 1em #10305f3d;
  color: white;
  background: var(--blue);
}

.button.opaque-white {
  color: white;
  box-shadow: inset 0 0 0 0.15em white;
}

.button.opaque-blue {
  color: var(--blue);
  box-shadow: inset 0 0 0 0.15em var(--blue);
}

.button.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  font-size: 200%;
  min-width: 0;
  padding: 0;
  border-radius: 100%;
}

footer {
  display: flex;
  justify-content: center;
  color: var(--gray-text);
  margin: 5vmin 0;

  div.footer-item {
    div {
      font-size: 80%;
      margin: 1em;
    }
    margin: 2em;
    text-align: center;
    line-height: 1em;
  }
}

#sekcja4 a {
  font-weight: 500;
  line-height: normal;
}
#sekcja4{
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  img {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

ol {
  list-style: none;
  counter-reset: item;
  padding: 0em;
}

li {
  line-height: 1.5em;
  margin: 2em 0;
  counter-increment: item;
  padding-left: 4em;
}

li:before {
  font-size: 80%;
  font-weight: bold;
  content: counter(item);
  background: var(--red);
  border-radius: 100%;
  color: white;
  width: 1.9em;
  height: auto;
  margin-left: -4em;
  margin-right: 2em;
  text-align: center;
  display: inline-block;
}

.round-box {
  display: flex;
  box-sizing: content-box;
  background-color: var(--gray);
}

.round {
  border-radius: 2em;
}
