@media screen and (min-width: 1280px) {
  body {
    font-size: 25px;
  }

  h1 {
    font-size: 260%;
  }

  h2 {
    font-size: 170%;
  }

  h3 {
    font-size: 130%;
  }

  #header {
    #logo {
      margin-left: 2em;
    }
  }
  
  #sekcja2 {
    .round-box {
      flex-direction: row-reverse;
    }

    img {
      transform-origin: bottom;
      width: inherit;
      transform: scale(1.7);
    }

    .column {
      width: 50%;
      justify-content: flex-end;
    }
  }

  #sekcja3 {
    img {
      align-self: auto;
    }
    .column{
      width: 50%;
    }
  }
  
  #sekcja2, #sekcja3 {
    .text-box {
      padding-left: 0;
    }
  }

  #sekcja4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .button + .button {
    margin-left: 2em;
  }

  .sekcja {
    display: flex;
    flex-direction: row;
    padding: 0 calc((100vw - 1550px) / 2);
  }

  .column {
    max-width: 70%;
  }
  
  .text-box {
    padding: 4em;
  }
}
