@media screen and (min-width: 1280px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 260%;
  }

  h2 {
    font-size: 170%;
  }

  h3 {
    font-size: 130%;
  }

  #header {
    #logo {
      margin-left: 2em;
    }
  }

  #sekcja2 {
    flex-direction: row-reverse;

    img {
      transform-origin: bottom;
      transform: scale(1.2);
    }

    .column {
      width: 50%;
    }
  }

  #sekcja3 {
    img {
      align-self: auto;
    }
  }

  #sekcja4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .button + .button {
    margin-left: 2em;
  }

  .sekcja {
    display: flex;
    flex-direction: row;
    padding: 0 calc((100vw - 1160px)/2);

    img {
      align-self: flex-end;
      width: 50%;
    }
  }

  .column {
    width: 40%;
    padding: 128px 0;
  }

  .contact-box {
    box-sizing: content-box;
    padding: 3em;
    background-color: var(--gray);
  }
}