@media screen and (min-aspect-ratio: 2/3) {
    body {
        font-size: calc(.4vmax + 1vmin);
    }
    h1 {
        font-size: 260%;
    }

    h2 {
        font-size: 170%;
    }

    h3 {
        font-size: 130%;
    }

    #header{
        #logo {
            margin-left: 2em;
        }
    }

    #sekcja1 {
    }

    #sekcja2 {
        flex-direction: row-reverse;
        img {
            transform: scale(1.2);
            transform-origin: bottom right;
        }
    }

    #sekcja3 {
        img {
            align-self: auto;
        }
    }

    .button + .button {
        margin-left: 2em;
    }

    .sekcja {
        padding: 5vmin 15vw;
        flex-direction: row;

        img {
            align-self: flex-end;
            width: 50%;
        }
    }

    .column {
      width: 50%;
      padding: 2em;
    }

    .contact-box {
        box-sizing: content-box;
        padding: 3em;
        background-color: var(--gray);
    }
}
