<!DOCTYPE html>
<html lang="pl" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Fajnie, że wiesz!</title>
  <link rel="stylesheet" href="css/master.scss">
  <script src="js/main.js" charset="utf-8"></script>
  <link href="https://fonts.googleapis.com/css?family=Rubik:200,300,400,500,600,700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/svg+xml" href="assets/logo_web.svg">

  <meta property="og:title" content="Fajnie, że wiesz!" />
  <meta property="og:description" content="Coraz więcej słyszysz o fake newsach, ale nie wiesz jak się przed nimi bronić? Naucz się tego z naszą edukacyjną grą „Fajnie, że wiesz!”" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://fajniezewiesz.pl/" />
  <meta property="og:image" content="https://fajniezewiesz.pl/static/Layer_9.png" />
</head>

<body>
  <div id="sekcja1" class="sekcja">
    <div class="column">
      <img id="logo" src="assets/logo_web.svg" />
      <div class="text-box">
        include:markdown-it text/sekcja1.md
      </div>
      <div class="button-container">
        <a class="button opaque-blue circle" href="#sekcja2">↓</a>
      </div>
    </div>
  </div>
  <div id="sekcja2" class="sekcja">
    <div class="round round-box">
      <div class="column">
        <div class="text-box">
          include:markdown-it text/sekcja2.md
          <div class="button-container">
            <a class="button red" href="https://aplikacja.fajniezewiesz.pl/">Zaczynajmy!</a>
          </div>
        </div>
      </div>
      <div class="column">
        <img src="assets/Layer_9.png">
      </div>
    </div>
  </div>
  <div id="sekcja3" class="sekcja">
    <div class="column">
      <div class="text-box">
        include:markdown-it text/sekcja3.md
      </div>
    </div>
    <div class="column">
      <img class="round" src="assets/tomy.jpg" alt="">
    </div>
  </div>
  <div id="sekcja4" class="sekcja">
    <div class="round round-box">
      <div class="text-box">
        include:markdown-it text/sekcja4.md
        <div class="button-container">
          <a class="button blue" target="_blank" href="https://akademia.demagog.org.pl/">Poznaj akademię</a>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-item">
        <div>Made with <img style="height: .8em;" src="assets/heart.svg" alt="love"> by</div>
        <img style="height: 2.8em;" src="assets/logo_web.svg" />
      </div>
      <div class="footer-item">
        <div>Powered by</div>
        <a href="https://demagog.org.pl/"><img style="height: 1.5em;" src="assets/Demagog@2x.png" alt="Demagog"></a>
      </div>
    </footer>
  </div>
</body>

</html>
