<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Fajnie, że wiesz!</title>
    <link rel="stylesheet" href="css/master.scss">
    <script src="js/main.js" charset="utf-8"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik:200,300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/svg+xml" href="assets/logo_web.svg">
</head>

<body>
    <div id="sekcja1" class="sekcja">
        <div class="column">
            <div class="logoWrapper">
                <img id="logo" src="assets/logo_web-1.svg" />
            </div>
            include:markdown-it text/sekcja1.md
            <div class="button-container">
              <a class="button opaque-white" href="#sekcja2">Więcej o grze</a>
            </div>
        </div>
        <img src="assets/650x650_fzw.png">
    </div>
    <div id="sekcja2" class="sekcja">
        <div class="column">
            include:markdown-it text/sekcja2.md
            <div class="button-container">
              <a class="button red" href="https://aplikacja.fajniezewiesz.pl/">Zagraj</a>
            </div>
        </div>
        <img src="assets/Layer 9.png">
    </div>
    <div id="sekcja3" class="sekcja">
        <div class="column">
            include:markdown-it text/sekcja3.md
        </div>
        <img class="round" src="assets/tomy.jpg" alt="">
    </div>
    <div id="sekcja4" class="sekcja">
        <div class="contact-box round">
            include:markdown-it text/sekcja4.md        
            <div class="row">
                <a class="button blue" href="https://akademia.demagog.org.pl/">Poznaj akademię</a>
                <a class="button opaque-blue" href="mailto:kontakt@fajniezewiesz.pl">Napisz do nas</a>
            </div>
        </div>
    </div>
    <footer>
        <div>
            Made with <img style="height: 1em;" src="assets/heart.svg" alt="love"> by
        </div>
        <img id="logo" src="assets/logo_web.svg" />
    </footer>
</body>

</html>
